
.home-page-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
}

.description-container{
    width: 721px;
    height: 168px;
    top: 292px;
    left: 360px;
}


.heading{
    font-weight: 400;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 1px;
    text-align: center;
    color: #252020;
    font-weight: 300;
}

.description{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #252020;
}

@media screen and (max-width: 767px) {
    .heading{
        font-size: 24px;
        font-weight: 400;
        margin: 0px;
    }
    
    .description{
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
    }

    .description-container{
        width: 343px;
        height: 127px;
    }
}



.filters-section-container{
    border: 1px solid #E5E5E5;
    width: 1248px;
    height: 88px;
    top: 532px;
    left: 96px;
    border-width: 1px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: none;
    border-right: none;
}


@media screen and (max-width: 767px) {
    .filters-section-container{
    width: 375px;
    height: 41px;
    border-width: 1px;
    justify-content: space-around;
    }
}

.products-list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.products-container{
    display: flex;
    flex-direction: column;
    margin-left: 96px;
}